
p{
  text-align: center;
}
h2{
  text-align: center;
}
.container{
  background-color: rgb(94, 90, 90);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
}
a{
  /*elimina sublinierea */
  text-decoration: none; 
  
}
ul{
    /*elimina bulinutele */
  list-style: none;
}
li{
 display: inline-block;
  align-items: center;
  justify-content: flex-end;
  margin-right:10px;
  
}